:host {
  display: block;
  height: 100dvh;
}

.content-area {
  padding-left: 17rem;
  transition: padding-left 160ms ease;
}

.content-area.content-area-collapsed {
  padding-left: 4.5rem;
}

@media (max-width: 768px) {
  .content-area,
  .content-area.content-area-collapsed {
    padding-left: 0;
  }
}
