@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
  font-family: var(--font-sans);
  font-feature-settings: "cv11", "ss01", "ss03";
}

html,
body {
  font-family: var(--font-sans);
}
